.sear{
    background: #fff;
    height: 100%;
    width: 100%;   
    position: relative;
    z-index: 10; 
    display: flex;
    flex-direction: column;
    .sear-head{
        width: 100%;
        height: 2.5rem;
        font-size: 0.8rem;
        line-height: 2.5rem;
        box-shadow: 0 0 5px rgba(0,0,0,.6);
        .back{
            position: absolute;
            top: 0.4em;
            left: 1rem;
            width: 20px;
            height: 20px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .sear-ipt{
            width: 16rem;
            height: 2rem;
            line-height: 2.5rem;
            margin-left: 4rem;
        }
        .sear-btn{
            font-size: 1rem;
            color: lightslategrey;
        }
    }
    .sear-content{
        flex: 1;
        .sear-ul{
            width: 100%;
            height: 100%;
        }

    }
}